/* styles/style.css */
* {
    font-family: "Times New Roman", serif;
}

QMainWindow {
    background-color: #FFFFFF;
}

QWidget {
    background-color: #FFFFFF;
    font-family: "Times New Roman";
}

QToolBar {
    background-color: #7FFF00;  /* Дополнительный фон */
    border: none;
    spacing: 10px;
    padding: 5px;
}

QStatusBar {
    background-color: #7FFF00;  /* Дополнительный фон */
    color: #000000;
}

QPushButton {
    background-color: #00FA9A;  /* Акцентирование внимания */
    color: #000000;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #00E58B;
}

QLineEdit, QComboBox, QSpinBox, QDoubleSpinBox {
    padding: 6px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Times New Roman";
}

QMessageBox {
    background-color: #FFFFFF;
    font-family: "Times New Roman";
}

QLabel {
    background-color: transparent;
    color: #000000;
    font-family: "Times New Roman";
}